#app {
    font-family: Georgia, 'Lucida Console', sans-serif;
}

.bg-my-primary {
    background-color: #E5E5E5;
}

/* Animations div */
.animate-div{
    font-size: 500%;
    background-color: gray;
    color: antiquewhite;
    /* center */
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Animations div */

/* header */
.header-text {
    font-size: 20px;
}

.header-text ul li{
    margin-left: 40px;
}

.header-text ul:hover li:hover{
    border-bottom: 2px solid;
}
/* End header */


/* footer */
.footer-text {
    text-align: center;
    color: black;
    background-color: #E5E5E5;
    font-size: 12px;
}

.footer-text table{
    width: 100%;
    /* center table */
    margin-left: auto;
    margin-right: auto;
}

.footer-text div{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* End footer */

/* Grid test */
.grid-4{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5px;
    row-gap: 15px;
    justify-items: end;
}
.grid-4 div{
    border: 1px solid black;
}
/* End Grid test */